<h1 class="logo">LightBox</h1>

<div class="nav_Views_edit">
  <a href="#/admin/listView"><span class="fa-lg">
    <i class="fa fa-arrow-left"></i>
  </span>Back to List</a>
</div>

<div class="editProductContainer">

  <h3>Edit product</h3>

  <form ng-submit="adminCtrl.editProduct(adminCtrl.singleItem)">
    <input type="text" ng-model="adminCtrl.singleItem.image" value="adminCtrl.singleItem.image">
    <input type="text" ng-model="adminCtrl.singleItem.productName" value="adminCtrl.singleItem.productName">
    <input type="text" ng-model="adminCtrl.singleItem.price" value="adminCtrl.singleItem.price">
    <textarea type="text" ng-model="adminCtrl.singleItem.productDescription" value="adminCtrl.singleItem.productDescription"></textarea>

    <button type="submit">Update Product</button>
  </form>

</div>
