<!-- display all products -->
<h1 class="logo">LightBox</h1>

<div class="nav_Views">
    <a href="#/"><span class="fa-lg">
      <i class="fa fa-lightbulb-o"></i>
    </span>Home</a>
    <a href="#/admin/addproduct"><span class="fa-lg">
      <i class="fa fa-plus"></i>
    </span>Add Product</a>

</div>


<div class="listContainer">
  <ul>
    <li class = "item" ng-repeat="item in adminCtrl.items">

      <img data-ng-src="{{item.image}}" height='250' alt=""/>
      <div class="productInfo">
        <h3>{{item.productName}}</h3>
        <h4>${{item.price}}</h4>
        <p>{{item.productDescription}}</p>
        <div class="buttons2">
          <a class="button1" href="#/admin/editproduct/{{item._id}}" class="listviewEdit">Edit</a>
          <a class="button1" href="" ng-click="adminCtrl.deleteProduct(item._id)">Delete Item</a>
        </div>
      </div>
    </li>
  </ul>
</div>
