<h1 class="logo">LightBox</h1>

<div class="nav_Views">
  <a href="#/user/listView"><span class="fa-lg">
    <i class="fa fa-arrow-left"></i>
  </span>Continue Shopping</a>
</div>


<div class="detailContainer">

    <div class = "itemDetail">

      <div class="productImagePrice">
        <img data-ng-src="{{mainCtrl.singleItem.image}}" height='250' alt=""/>
        <h3>{{mainCtrl.singleItem.productName}}</h3>
        <h4>${{mainCtrl.singleItem.price}}</h4>
      </div>
      <div class="productDetails">
        <p>{{mainCtrl.singleItem.productDescription}}</p>
        <div class="buttons2">
          <!-- <div ng-controller="CartController as cartCtrl"> -->
            <a href="#/user/cart/" ng-click="mainCtrl.addToCart(mainCtrl.singleItem)">Add to Cart</a>
          </div>
          <div>
            <a href="" ng-click="showReviews = !showReviews">Show Reviews</a>
          </div>
        </div>
      </div>

  <div class="productReviews"  ng-show = "showReviews">
    <h3>Reviews:</h3>

    <ul class="reviewlist">
      <li class="review" ng-repeat="review in mainCtrl.singleItem.reviews">
        <p>{{review.body}}</p>
        <p>By: {{review.author}}</p>
      </li>
    </ul>
    <a href="" ng-click="showAddReview = !showAddReview">Add A Review</a>
    <div class="addReview" ng-show = "showAddReview" >
      <form name="reviewForm" ng-submit="mainCtrl.addReview(mainCtrl.singleItem, review)">
        <p class="reviewBody">
          <textarea name="reviewBody" ng-model="review.body" cols="20" rows="5" placeholder="Write your review here"></textarea>
          <input type="text" name="reviewAuthor" ng-model="review.author" placeholder="Your Name">
          <button type="submit">Submit Review</button>
        </p>
      </form>
    </div>
  </div>
</div>
