<h1 class="logo">LightBox</h1>

<div class="nav_Views">
  <a href="#/user/listView"><span class="fa-lg">
    <i class="fa fa-arrow-left"></i>
  </span>Continue Shopping</a>
</div>


<div class="detailContainer">

    <div class = "itemDetail">

      <div class="productImagePrice">
        <img ng-src="{{mainCtrl.singleItem.image}}" height='250' alt=""/>
        <h3>{{mainCtrl.singleItem.productName}}</h3>
        <h4>${{mainCtrl.singleItem.price}}</h4>
      </div>
      <div class="productDetails">
        <p>{{mainCtrl.singleItem.productDescription}}</p>
        <div class="buttons2">
          <div ng-controller="CartController as cartCtrl">
            <a href="#/user/cart/" ng-click="cartCtrl.addToCart(mainCtrl.singleItem)">Add to Cart</a>
          </div>
          <div>
            <a href="" ng-click="showReviews = !showReviews">Show Reviews</a>
          </div>
        </div>
      </div>
    </div>

  <div class="productReviews" ng-controller="ReviewController as reviewCtrl" ng-show = "showReviews">
    <ul>
      <li class="review" ng-repeat="review in reviewCtrl.reviews">
        <p>Stars: {{reviewCtrl.review.stars}}</p>
        <p>{{reviewCtrl.review.body}}</p>
        <p>By: {{reviewCtrl.review.author}}</p>
      </li>
    </ul>
    <a href="" ng-click="showAddReview = !showAddReview">Add Review</a>
    <div class="addReview" ng-show = "showAddReview" >
      <form name="reviewForm" ng-submit="reviewCtrl.addReview(item)">
        <p class="stars">Stars: <span><input type="number" name="reviewstars" ng-model="review.stars"></span></p>
        <p class="reviewBody">
          <textarea name="reviewBody" ng-model="review.body" cols="30" rows="10"></textarea>
        <p>  <label for="reviewBody" ng-model="review.author">by:</label>
        <!--   <input type="email"/> -->

          <button type="submit">Submit Review</button>
        </p>
      </form>
    </div>
  </div>
</div>
