<h1 class="logo">LightBox</h1>

<div class="nav_Views">
  <a href="#/user/listView"><span class="fa-lg">
    <i class="fa fa-arrow-left"></i>
  </span>Continue Shopping</a>
</div>


<div class="detailContainer">

    <div class = "itemDetail">

      <div class="productImagePrice">
        <img data-ng-src="{{mainCtrl.singleItem.image}}" height='250' alt=""/>
        <h3>{{mainCtrl.singleItem.productName}}</h3>
        <h4>${{mainCtrl.singleItem.price}}</h4>
      </div>
      <div class="productDetails">
        <p>{{mainCtrl.singleItem.productDescription}}</p>
        <div class="buttons2">
            <a class="button1" href="#/user/cart/" ng-click="mainCtrl.addToCart(mainCtrl.singleItem)">Add to Cart</a>
            <a class="button1" href="" ng-click="showReviews = !showReviews">Show Reviews</a>

        </div>
      </div>

  <div class="productReviews"  ng-show = "showReviews">
    <h3>Reviews <span>  <a class="addReviewButton" href="" ng-click="showAddReview = !showAddReview">Add a Review</a></span></h3>

    <div ng-show = "showAddReview" >
      <form name="reviewForm">
        <p class="reviewBody">
          <input type="text" name="reviewAuthor" ng-model="review.author" placeholder="Your Name">
          <input type="text" name="reviewTitle" ng-model="review.title" placeholder="Review Title">
          <textarea name="reviewBody" ng-model="review.body" cols="20" rows="5" placeholder="Write your review here"></textarea>
          <a class="button1" href="" type="submit" ng-click="mainCtrl.addReview(mainCtrl.singleItem, review)">Submit Review</a>
        </p>
      </form>
    </div>

    <ul class="reviewlist">
      <li class="review" ng-repeat="review in mainCtrl.singleItem.reviews">
        <h4>{{review.title}} <span class="author">{{review.author}} </span></p></h4>
        <p>{{review.body}}</p>
      </li>
    </ul>

  </div>
</div>
