<h1 class="logo">LightBox</h1>

<div class="nav_Views">
  <a href="#/user/listView"><span class="fa-lg">
    <i class="fa fa-arrow-left"></i>
  </span>Continue Shopping</a>
</div>

<div class="shoppingCartContainer">

  <h3>Shopping Cart</h3>


<div class="cartContainer" ng-controller="MainController as mainCtrl">
  <ul>
    <li class = "cartitem" ng-repeat="item in mainCtrl.cart">
        <p class="cartName">{{item.productName}}</p>
        <a href="" class="cartbutton" type="submit" ng-click="mainCtrl.deleteFromCart(item)">Remove</a>
        <p class="cartPrice">Price:  ${{item.price}}</p>
        <p class="itemQuantity">Quantity:</p>  <p class="inputQuant"><input type="number" name="inputquant" ng-model="item.quant" min="1" max="10"></p>

        <p class="itemTotal">Item total:  {{item.quant * item.price | currency}}</p>
    </li>
  </ul>
  <p class="totalPrice"> Total: {{mainCtrl.total() | currency}}</p>
</div>


</div>
